.leftsidebar{
  background-color: rgb(124, 180, 182);
}

.content{
  background-color: rgb(118, 157, 189);
}

.rightsidebar{
  background-color: rgb(24, 83, 117);
}

.menu{
  background-color:rgb(115, 161, 236);
}

.header{
  background-color:rgb(56, 68, 87);
}

.bg {
  /* background-color: blueviolet; */
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
